/* || RESET */
p,
ul,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.link--no-decoration {
  color: inherit;
  text-decoration: none;
}
.img--block {
  display: block;
}

/* || Variables */
:root {
  /* || FONTS */
  --ff: Roboto, sans-serif;
  --ff-logo: Raleway, sans-serif;
  --fs: 16px;

  /* || COLORS */
  --font-color-primary: #212121;
  --font-color-secondary: #fff;
  --font-color-p: #757575;

  --font-color-contact-header: #757575;
  --font-color-contact-footer: #ffffff99;
  --font-color-street-footer: #fff;
  --font-color-title-footer: #fff;

  --font-color-hover: #2196f3;

  --font-color-social-footer: #fff;
  --font-color-social-hover: #fff;

  --font-color-about-us-title: #fff;

  --font-color-card-description: #fff;

  /* | LOGO COLORS*/
  --font-color-logo-primary: #2196f3;

  --font-color-logo-secondary-dark: #000;
  --font-color-logo-secondary-light: #fff;

  /* FORM COLORS */
  --font-color-newsletter-footer: #fff;

  /* PLACEHOLDER COLORS */
  --font-color-placeholder-footer: #ffffff99;

  /* | SVG COLORS */
  --svg-fill-contact: #757575;
  --svg-fill-contact-hover: #2196f3;

  --svg-fill-skill: #212121;
  --svg-fill-skill-detail: #2196f3;

  --svg-fill-social: #afb1b8;
  --svg-fill-social-footer: #fff;

  --svg-fill-social-hover: #fff;

  --svg-fill-client: #afb1b8;
  --svg-fill-client-hover: #2196f3;

  --svg-fill-newsletter-footer: #fff;

  /* | BUTTON COLORS */
  --font-color-button-primary: #fff;

  --font-color-button-secondary: #212121;
  --font-color-button-secondary-hover: #fff;

  /* || BACKGROUND */
  --bgcolor: #fff;
  --bgcolor-dark: #2f303a;
  --bgcolor-fade: #f5f4fa;

  --bgcolor-skill-svg: #f5f4fa;

  --bgcolor-team: #fff;

  --bgcolor-social-hover: #2196f3;
  --bgcolor-social-footer: #ffffff1a;
  --bgcolor-social-footer-hover: #2196f3;

  --bgcolor-about-us-title: #2f303acc;

  --bgcolor-card-background: #2196f3e5;

  --bgcolor-page-active: #2196f3;

  --bgcolor-modal: #fff;

  --bgcolor-newsletter-footer: transparent;

  /* | BUTTONS BACKGROUND */
  --bgcolor-button-primary: #2196f3;
  --bgcolor-button-primary-hover: #1076c9;

  --bgcolor-button-secondary: #f5f4fa;
  --bgcolor-button-secondary-hover: #2196f3;

  /* || BORDERS */
  --border-header: 1px solid #ececec;
  --border-porfolio-card-item: 1px solid #eeeeee;

  --border-client-item: 1px solid #afb1b8;
  --border-client-item-hover: #2196f3;

  --border-newsletter-footer: 1px solid #ffffff4d;

  /* || SHADOWS */
  --shadow-team: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --shadow-newsletter-footer: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  /* | SHADOW BUTTONS */
  --shadow-button-primary: 0px 4px 4px 0px #00000026;
  --shadow-button-menu-hover: 0px 2px 2px 0px #0000001f,
    0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001a;
  --shadow-portfolio-card-item-hover: 1px 4px 6px 0px #00000029,
    0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
  --shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  /* || TRANSITIONS */
  --transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-bgcolor: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-border-color: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trnasition-modal: transform 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
    border-radius 1000ms linear, visibility 300ms linear, opacity 500ms ease;
}

/* || UTILITY CLASSES */
.container {
  margin: 0 auto;
  max-width: 1200px;
}

.section {
  padding: 94px 0;
}

.center {
  text-align: center;
}

/* || PSEUDO CLASSES */
/* buttons hover*/
.hover:hover,
.hover:focus {
  color: var(--font-color-button-secondary-hover);
  background-color: var(--bgcolor-button-secondary-hover);

  box-shadow: var(--shadow-button-menu-hover);
}

.banner__button {
  transition: var(--transition-bgcolor), var(--transition-color),
    var(--transition-shadow);
}
.banner__button:hover,
.banner__button:focus-visible {
  background-color: var(--bgcolor-button-primary-hover);
}
/* links hover*/
.link--hover {
  transition: var(--transition-color);
}
.link--hover:hover,
.link--hover:focus {
  color: var(--font-color-hover);
}

/* || MODAL */
.backdrop {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  transform: translateY(0);

  transition: var(--trnasition-modal);
}
.modal {
  position: absolute;

  width: 528px;
  height: 581px;

  background-color: var(--bgcolor-modal);
  border-radius: 4px;

  box-shadow: var(--shadow-modal);
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;

  transform: translateY(-100%);
}

.modal__button--close {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;

  padding: 10px;

  background-color: #fff;
  border: 1px solid #0000001a;
  border-radius: 50%;

  cursor: pointer;
}
.modal__svg-close {
  fill: black;
}

/* || General */
body {
  color: var(--font-color-primary);
  font-family: var(--ff);
  font-size: var(--fs);

  background-color: var(--bgcolor);
}

/* || HEADER */
.header {
  border-bottom: var(--border-header);
}
.header.section {
  padding: 24px 0;
}

/* | LOGO */
.logo {
  font-family: var(--ff-logo);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo--primary {
  color: var(--font-color-logo-primary);
}

.logo--secondary {
  color: var(--font-color-logo-secondary-dark);
}

/* | NAVIGATION */
.header__grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  margin-left: 94px;
  flex: 1;
}
.nav__list {
  display: flex;
  gap: 46px;
}

.contact__list {
  display: flex;
  gap: 50px;

  white-space: nowrap;
}
.contact__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav__link,
.contact__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}
.contact__link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--font-color-contact-header);
}
.contact__svg {
  fill: var(--svg-fill-contact);
  transition: var(--transition-fill);
}
/* contact icon hover */
.contact__link:hover .contact__svg,
.contact__link:focus .contact__svg {
  fill: var(--svg-fill-contact-hover);
}

/* | PAGE ACTIVE */
.page--active {
  position: relative;
}
.page--active::after {
  content: "";

  position: absolute;
  top: 45.8px;
  bottom: -31.4px;
  left: 0;
  right: 0;

  background-color: var(--bgcolor-page-active);
  border-radius: 2px;
}

/* || MAIN */
.banner {
  max-width: 1600px;
  margin: 0 auto;

  color: var(--font-color-secondary);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/index/banner/main-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner.section {
  padding: 21.345vh 0; /* 200px */
}
/* | TITLE */
.title--primary {
  margin-bottom: 30px;

  font-size: 2.75rem;
  font-weight: 900;
  line-height: 1.364;
  letter-spacing: 0.06em;
}

.title--secondary {
  margin-bottom: 50px;

  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: 0.03em;
}
.title--section {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
}

/* | BUTTONS */
.button--primary {
  /* box model */
  padding: 10px 41.5px;

  /* visual */
  border: none;
  border-radius: 4px;
  background-color: var(--bgcolor-button-primary);

  /* misc */
  box-shadow: var(--shadow-button-primary);
}

.button__text--primary {
  color: var(--font-color-button-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.button--primary,
.menu__button {
  cursor: pointer;
}

/* | SKILLS */
.skills.section {
  padding-bottom: 0;
}
.skill__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.skill__background {
  display: inline-flex;

  margin-bottom: 30px;
  padding: 25px 100px;

  background-color: var(--bgcolor-skill-svg);
  border-radius: 4px;
}
.skill__svg {
  fill: var(--svg-fill-skill);
  color: var(--svg-fill-skill-detail);
}
.skill__title {
  margin-bottom: 10px;
}
.skill__description {
  color: var(--font-color-p);
  font-size: 0.875rem;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

/* | ABOUT US */
.about-us__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.about-us__item {
  position: relative;
}
.about-us__background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 27px 90px;

  background-color: var(--bgcolor-about-us-title);
}
.about-us__title {
  color: var(--font-color-about-us-title);
  text-transform: uppercase;
}

/* | TEAM */
.team {
  width: 100%;
  background-color: var(--bgcolor-fade);
}
.team__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.team__item {
  background-color: var(--bgcolor-team);

  box-shadow: var(--shadow-team);
}
.team__info {
  padding: 30px 0;
}
.team__name {
  margin-bottom: 10px;

  font-weight: 500;
  line-height: 1.188;
  letter-spacing: 0.03em;
}
.team__profession {
  margin-bottom: 16px;

  color: var(--font-color-p);
  line-height: 1.188;
  letter-spacing: 0.03em;
}

/* | SOCIAL */
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social__logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: var(--transition-bgcolor);
}
.social__svg {
  fill: var(--svg-fill-social);
  transition: var(--transition-fill);
}
/* social hover*/
.social__logo:hover {
  background-color: var(--bgcolor-social-hover);
}
.footer .social__logo:hover {
  background-color: var(--bgcolor-social-footer-hover);
}
/* social icon hover */
.social__logo:hover .social__svg:not(.footer .social__svg) {
  fill: var(--svg-fill-social-hover);
}

/* | CLIENTS */
.client__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  border: var(--border-client-item);
  border-radius: 4px;

  transition: var(--transition-border-color);
}
.client__svg {
  fill: var(--svg-fill-client);
  transition: var(--transition-fill);
}
/* client hover */
.client__link:hover,
.client__link:focus {
  border-color: var(--border-client-item-hover);
}
/* client icon hover */
.client__link:hover .client__svg,
.client__link:focus .client__svg {
  fill: var(--svg-fill-client-hover);
}

/* || FOOTER */
.footer {
  background-color: var(--bgcolor-dark);
}
.footer.section {
  padding: 60px 0;
}
.footer .logo--secondary {
  color: var(--font-color-logo-secondary-light);
}
.footer__grid {
  display: flex;
  align-items: baseline;
}
.footer__item {
  display: flex;
  flex-direction: column;
}
.footer__item:nth-child(1) {
  margin-right: 70px;
}
.footer__item:nth-child(2) {
  margin-right: 78px;
}
.footer__title {
  margin-bottom: 20px;

  color: var(--font-color-title-footer);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.footer .social__logo {
  background-color: var(--bgcolor-social-footer);
}
.footer .social__svg {
  fill: var(--svg-fill-social-footer);
}

/* newsletter */
.newsletter {
  display: flex;
  gap: 12px;
}
.newsletter__input--email {
  width: 358px;
  padding: 14px 0 14px 15px;

  color: var(--font-color-newsletter-footer);
  background-color: var(--bgcolor-newsletter-footer);
  border: var(--border-newsletter-footer);
  border-radius: 4px;

  box-shadow: var(--shadow-newsletter-footer);
}
.newsletter__input--email:focus {
  background: linear-gradient(
      0deg,
      rgba(33, 150, 243, 0),
      rgba(33, 150, 243, 0)
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}
.newsletter__input--email::placeholder {
  color: var(--font-color-placeholder-footer);
}
.newsletter__button {
  display: flex;
  align-items: center;
  gap: 24px;

  padding-right: 28px;

  white-space: nowrap;
}
.newsletter__svg {
  fill: var(--svg-fill-newsletter-footer);
}

/* | ADDRESS */
.address {
  margin-top: 20px;

  font-style: normal;
}

.address__list {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__street {
  color: var(--font-color-street-footer);
}

.address__link {
  color: var(--font-color-contact-footer);
}

/* || PORTFOLIO */
/* | MENU */
.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 50px;
}
.menu__list {
  display: flex;
  gap: 8px;
}
.menu__button {
  padding: 6px 22.5px;

  background-color: var(--bgcolor-button-secondary);

  border: none;
  border-radius: 4px;

  transition: var(--transition-bgcolor), var(--transition-color),
    var(--transition-shadow);
}
.button__text--secondary {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
}

/* | CARDS */
.card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.card__info {
  padding: 20px 0 20px 24px;

  border-left: var(--border-porfolio-card-item);
  border-right: var(--border-porfolio-card-item);
  border-bottom: var(--border-porfolio-card-item);
}
.card__title {
  margin-bottom: 4px;

  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card__type {
  color: var(--font-color-p);
  font-size: 1rem;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
.card__position {
  position: relative;
  overflow: hidden;
}
.card__background {
  position: absolute;
  inset: 0;

  padding: 49px 45px 49px 24px;

  background-color: var(--bgcolor-card-background);

  transition: var(--transition-transform);
  transform: translateY(100%);
  pointer-events: none;
}
.card__description {
  color: var(--font-color-card-description);

  font-size: 1.125rem;
  line-height: 1.556;
  letter-spacing: 0.03em;
}
/* card hover */
.card__item:hover .card__background {
  transform: translateY(0);
  pointer-events: auto;
}
.card__item:hover {
  box-shadow: var(--shadow-portfolio-card-item-hover);
}
